.header {
    &__logo {
        z-index: 10;
    }

    &__navigation {
        width: 70%;
        z-index: 10;


        &_list {

            li {
                font-weight: bold;
                color: $background-color;
        
                @include font-size(12);
            }
        }
    }
}