//FLEXBOX
@mixin flex($justify-content: space-between, $align-items: center, $flex-direction: row) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: center;
}

//FONT-SIZE
@mixin font-size($size) {
    font-size: ($size / 16) * 1rem;
}

//FILTER IMAGE
@mixin filter {
    filter: invert(93%) sepia(3%) saturate(63%) hue-rotate(131deg) brightness(80%) contrast(90%);
}

//MEDIA QUERIES
@mixin mobile {
    @media only screen and (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet) {
        @content;
    }
}

