//COLORS
$background-color: #fff;
$background-footer: #1f1c27;
$grey-background: #f9f9ff;
$font-color: #aeaeae;
$font-footer:#626164;
$icon-color: #777777;
$yellow-btn: #fab700;


//FONT
$size: 16;

//BREAKPOINTS
$mobile: 480px;
$tablet: 768px;